body{
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 600px;
  background: rgba(255, 255, 255, 0.3);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.img-contato{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}